.page-reset-password {
	height: 663px;
	width: 100%;
	background-color: #f8f8fb;

	@include flex(center, center);
}

.reset-password-box {
	width: 600px;
	height: 504px;
	background-color: #fff;
	box-shadow: 5px 5px 20px #0000000A;
	border-radius: 10px;
	.reset-password-box-container {
		padding: 5rem 100px;
		height: 100%;
		@include flex(flex-start, center, column);

		.box__title {
			> * {
				font-family: Segoe UI;
				font-weight: bold;
				color: #111859;
				font-size: 21px;
				margin: 0;
			}
		}

		.box-p {
			&__detail {
				font-family: Segoe UI;
				color: #111859;
				font-size: 16px;
				margin: 0;
				margin-top: 4rem;
				text-align: center;
			}

			&__email {
				font-family: Segoe UI;
				color: #111859;
				font-size: 16px;
				margin: 0;
				font-weight: bold;
				text-align: center;
			}
		}

		.box__form {
			width: 400px;
			flex-grow: 1;
			margin-top: 3rem;

			.ant-form-item {
				flex-direction: column;
				margin: 0;
				margin-top: 1rem;

				.ant-form-item-label {
					@include flex(flex-start, center);

					label {
						font-family: Segoe UI;
						letter-spacing: 0px;
						color: #111859;
						font-size: 16px;
						font-weight: 600;
						&::after {
							display: none;
						}
						&::before {
							display: none;
						}
					}
				}

				.ant-form-item-control {
					width: 400px;
					height: 50px;

					.ant-form-item-control-input {
						height: 50px;
						width: 100%;

						.ant-form-item-control-input-content {
							height: 100%;
							width: 100%;

							.ant-input-password,
							.ant-input-affix-wrapper {
								height: 100%;
								width: 100%;
								padding: 0 1rem;

								input {
									font-family: Segoe UI;
									color: #111859;
									font-size: 16px;
									font-weight: 600;

									&::placeholder {
										text-align: center;
										color: #9a9a9a;
									}
								}
							}
						}
					}
				}
			}

			.box__form__btn-submit {
				width: 400px;
				height: 50px;
				background: #050c4b 0% 0% no-repeat padding-box;
				border-radius: 5px;
				margin-top: 1rem;

				@include flex(center, center);
				cursor: pointer;

				font-family: Segoe UI;
				font-size: 14px;
				color: #ffffff;
				font-weight: bold;

				border: none;
				outline: none;
			}
		}
	}
}

.reset-password-box-2 {
	width: 600px;
	height: 407px;
	background-color: #fff;
	box-shadow: 5px 5px 20px #0000000A;
	border-radius: 10px;

	&-container {
		padding: 7rem 7rem;
		height: 100%;
		@include flex(flex-start, center, column);

		.reset-password-box-2-logo {
			width: 134px;
			height: 134px;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		.reset-password-box-2-title {
			> * {
				font-family: Segoe UI;
				font-size: 21px;
				color: #111859;
				font-weight: bold;
				margin: 0;
				margin-top: 4rem;
			}
		}

		.reset-password-box-2-p {
			> * {
				font-family: Segoe UI;
				font-size: 16px;
				color: #111859;
				margin: 0;
				margin-top: 1rem;
			}
		}
	}
}
