.up-coming-giveaways {
	// background-image: url('/static/img/bg/Mask Group 25.png');
	// background-size: cover;
	background: transparent linear-gradient(90deg, #050c4b 0%, #1a2165 53%, #050c4b 100%) 0% 0%
		no-repeat padding-box;
	&__title {
		height: 350px;
		@include flex(center, center);

		> * {
			font-family: UTM Banque;
			color: #e5c683;
			font-size: 48px;
			font-weight: bold;
			margin: 0;
		}
	}

	&__big-img {
		@include flex(center, center);
		padding-bottom: 15rem;

		.big-img__container {
			display: grid;
			grid-template-columns: 500px 500px;
			grid-template-rows: 500px 500px;
			gap: 118px 18px;
		}

		.big-img__item {
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}

@media only screen and (max-width: 1366px) {
	.up-coming-giveaways {
		&__title {
			height: 300px;

			> * {
				font-size: 40px;
			}
		}

		&__big-img {
			padding-bottom: 13rem;

			.big-img__container {
				grid-template-columns: 400px 400px;
				grid-template-rows: 400px 400px;
				gap: 100px 15px;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.up-coming-giveaways {
		&__title {
			height: 250px;

			> * {
				font-size: 35px;
			}
		}

		&__big-img {
			padding-bottom: 10rem;

			.big-img__container {
				grid-template-columns: 350px 350px;
				grid-template-rows: 350px 350px;
				gap: 80px 15px;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.up-coming-giveaways {
		&__title {
			height: 200px;

			> * {
				font-size: 30px;
			}
		}

		&__big-img {
			padding-bottom: 8rem;

			.big-img__container {
				grid-template-columns: 250px 250px;
				grid-template-rows: 250px 250px;
				gap: 40px 10px;
			}
		}
	}
}

@media only screen and (max-width: 540px) {
	.up-coming-giveaways {
		&__title {
			height: 100px;

			> * {
				font-size: 17px;
			}
		}

		&__big-img {
			padding-bottom: 6rem;

			.big-img__container {
				grid-template-columns: 275px;
				grid-template-rows: 275px 275px 275px 275px;
				gap: 1rem;
			}
		}
	}
}
