.giveaway__hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 80px;

	> * {
		margin-bottom: 60px;
	}

	.title-section {
		text-align: center;
		color: #e6c47d;
		font-size: 48px;
		font-weight: 600;
	}

	.video-section {
		position: relative;
		padding: 0;
		width: 900px;
		height: 900px;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			border: 4px solid #e6c47d;
		}

		.video-button {
			z-index: 2;
			position: absolute;
			left: 50%;
			top: 50%;
			border: none;
			transform: translate(-50%, -50%);
			display: block;
			width: 150px;
			height: 150px;
			background-color: transparent;
			border-radius: 50%;

			> span {
				background-color: rgba (245, 220, 0, 0.5);
				width: inherit;
				height: inherit;
				text-align: center;
				border-radius: 50%;
				cursor: pointer;
				transition: all 0.5s;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				border: 15px solid #fff;
				font-size: 100px;
				color: #fff;
			}
		}
	}

	.description-section {
		text-align: center;
		color: #e6c47d;
		font-size: 30px;
		font-family: Segoe UI;
	}

	.button-section {
		@include flex();
		margin-bottom: 0;
		cursor: pointer;
		font-size: 25px;
		border-radius: 5px;
		color: #0c112c;
		padding: 20px 60px;
		background-image: url('/static/img/bg/Mask Group 35.png');
		font-weight: 600;
		text-transform: uppercase;
	}
}

@media only screen and (max-width: 1366px) {
	.giveaway__hero {
		padding: 80px;

		> * {
			margin-bottom: 60px;
		}

		.title-section {
			font-size: 40px;
		}

		.video-section {
			width: 700px;
			height: 700px;

			img {
				border: 4px solid #e6c47d;
			}

			.video-button {
				width: 100px;
				height: 100px;

				> span {
					border: 10px solid #fff;
					font-size: 80px;
				}
			}
		}

		.description-section {
			font-size: 25px;
		}

		.button-section {
			font-size: 20px;
			padding: 15px 40px;
		}
	}
}

@media only screen and (max-width: 1024px) {
	.giveaway__hero {
		padding: 60px;

		> * {
			margin-bottom: 60px;
		}

		.title-section {
			font-size: 40px;
		}

		.video-section {
			width: 600px;
			height: 600px;

			img {
				border: 4px solid #e6c47d;
			}

			.video-button {
				width: 80px;
				height: 80px;

				> span {
					border: 8px solid #fff;
					font-size: 60px;
				}
			}
		}

		.description-section {
			font-size: 20px;
		}

		.button-section {
			font-size: 18px;
			padding: 12px 35px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.giveaway__hero {
		padding: 50px;

		> * {
			margin-bottom: 50px;
		}

		.title-section {
			font-size: 30px;
		}

		.video-section {
			width: 500px;
			height: 500px;

			img {
				border: 3px solid #e6c47d;
			}

			.video-button {
				width: 70px;
				height: 70px;

				> span {
					border: 7px solid #fff;
					font-size: 50px;
				}
			}
		}

		.description-section {
			font-size: 18px;
		}

		.button-section {
			font-size: 16px;
			padding: 10px 30px;
		}
	}
}

@media only screen and (max-width: 540px) {
	.giveaway__hero {
		padding: 40px;

		> * {
			margin-bottom: 40px;
		}

		.title-section {
			font-size: 20px;
		}

		.video-section {
			width: 350px;
			height: 350px;

			img {
				border: 3px solid #e6c47d;
			}

			.video-button {
				width: 50px;
				height: 50px;

				> span {
					border: 5px solid #fff;
					font-size: 40px;
				}
			}
		}

		.description-section {
			font-size: 14px;
		}

		.button-section {
			font-size: 14px;
			padding: 8px 25px;
		}
	}
}

@media only screen and (max-width: 360px) {
	.giveaway__hero {
		padding: 30px;

		> * {
			margin-bottom: 30px;
		}

		.title-section {
			font-size: 16px;
		}

		.video-section {
			width: 270px;
			height: 270px;

			img {
				border: 2px solid #e6c47d;
			}

			.video-button {
				width: 40px;
				height: 40px;

				> span {
					border: 4px solid #fff;
					font-size: 30px;
				}
			}
		}

		.description-section {
			font-size: 12px;
		}

		.button-section {
			font-size: 12px;
			padding: 7px 20px;
		}
	}
}
