.loyaltymember {
	&__payment {
		background: #ffffff 0% 0% no-repeat padding-box;
		box-shadow: 5px 5px 20px #0000000A;
		border-radius: 10px;
		border: 1px solid #e9ca87;
		margin-bottom: 20px;

		padding: 40px;

		.payment_title {
			padding-bottom: 20px;
			border-bottom: 1px solid #c5c5c5;

			h2 {
				color: #111859;
				font-family: 'Segoe UI', sans-serif;
				font-size: 28px;
			}

			p {
				color: #111859;
				font-family: 'Segoe UI', sans-serif;
				font-size: 18px;
			}
		}

		.payment_button {
			.ps-btn {
				margin-top: 20px;
				border-radius: 5px;
				width: 100%;
				background-color: #e9ca87;
				color: #111859;
				font-family: 'Segoe UI', sans-serif;
				font-size: 24px;
				font-weight: 600;
			}
		}

		.payment_form {
			.row-item {
				width: 475px;
				margin: 30px auto;
				box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
					inset 0 1px 0 #829fff;
				border-radius: 4px;
				background-color: #7795f8;
				position: relative;

				.card-container {
					height: 40px;
					display: flex;
					align-items: center;

					& .StripeElement {
						width: 100%;
						padding: 15px;
					}
				}
			}
		}
	}

	&__competition {
		background: #ffffff 0% 0% no-repeat padding-box;
		border-radius: 10px;
		box-shadow: 5px 5px 20px #0000000A;
		border: 1px solid #e9ca87;
		padding: 40px;

		.competition_title {
			text-align: center;
			font-family: 'Segoe UI', sans-serif;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 20px;
			color: #111859;
		}

		.competition_benefit {
			.benefit_item {
				margin-bottom: 20px;

				.benefit_title {
					display: flex;
					flex-direction: row;

					.title_number {
						height: 35px;
						width: 35px;
						background-color: #e9ca87;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						font-family: 'Segoe UI', sans-serif;
						font-size: 18px;
						font-weight: 600;
						margin-right: 15px;
					}

					.title_text {
						font-family: 'Segoe UI', sans-serif;
						font-size: 18px;
						font-weight: 600;
						color: #111859;
					}
				}

				.benefit_desc {
					font-family: 'Segoe UI', sans-serif;
					font-size: 18px;
					color: #111859;
				}
			}
		}
	}
}

@media only screen and (max-width: 540px) {
	.dashboard__loyaltymember {
		width: 355px;
	}
	.loyaltymember {
		&__payment {
			margin-bottom: 20px;
			padding: 40px 15px;

			.payment_title {
				padding-bottom: 20px;

				h2 {
					font-size: 21px;
					text-align: center;
				}

				p {
					font-size: 16px;
					text-align: center;
				}
			}

			.payment_button {
				.ps-btn {
					margin-top: 20px;
					width: 100%;
					font-size: 21px;
					font-weight: 600;
				}
			}

			.payment_form {
				.row-item {
					width: 100%;
					margin: 30px auto;

					.card-container {
						height: 40px;

						& .StripeElement {
							padding: 15px;
						}
					}
				}
			}
		}

		&__competition {
			padding: 40px 15px;

			.competition_title {
				font-size: 21px;
				font-weight: 600;
				margin-bottom: 50px;
			}

			.competition_benefit {
				.benefit_item {
					margin-bottom: 40px;

					.benefit_title {
						margin-bottom: 1rem;
						flex-direction: column;
						align-items: center;
						.title_number {
							margin: 1rem 0px;
							height: 30px;
							width: 30px;
							font-size: 16px;
							font-weight: 600;
							margin-right: 15px;
						}

						.title_text {
							font-size: 15px;
							font-weight: 600;
							text-align: center;
						}
					}

					.benefit_desc {
						font-family: 'Segoe UI', sans-serif;
						text-align: center;
						font-size: 13px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 380px) {
	.dashboard__loyaltymember {
		width: 275px;
	}
	.loyaltymember {
		&__payment {
			padding: 30px 10px;

			.payment_title {
				h2 {
					font-size: 16px;
				}

				p {
					font-size: 14px;
				}
			}

			.payment_button {
				.ps-btn {
					font-size: 14px;
					padding: 10px 30px;
				}
			}

			.payment_form {
				.row-item {
					width: 100%;
					margin: 20px auto;

					.card-container {
						height: 40px;

						& .StripeElement {
							padding: 5px;
							font-size: 16px;
						}
					}
				}
			}
		}

		&__competition {
			padding: 30px 10px;

			.competition_title {
				font-size: 16px;
				margin-bottom: 30px;
			}

			.competition_benefit {
				.benefit_item {
					margin-bottom: 30px;

					.benefit_title {
						margin-bottom: 1rem;
						.title_number {
							height: 25px;
							width: 25px;
							font-size: 14px;
						}

						.title_text {
							font-size: 13px;
						}
					}

					.benefit_desc {
						font-size: 11px;
					}
				}
			}
		}
	}
}
