.ps-page-contactus {
    position: relative;
    text-align: center;
    padding: 80px 0;

    .ps-container {
        >* {
            padding-bottom: 50px;
        }

        .title-wrapper {
            >* {
                color: #1A2165;
                font-weight: 600;
            }

            h1 {
                font-size: 48px;
            }

            p {
                font-size: 22px;
                font-family: 'Segoe UI', sans-serif;
            }
        }

        .contact-box {
            display: grid;
            grid-template-columns: calc(calc(100% / 3) - 10px) calc(calc(100% / 3) - 10px) calc(calc(100% / 3) - 10px);
            grid-template-rows: auto;
            grid-column-gap: 10px;

            .box-item {
                background: transparent linear-gradient(143deg, #050C4B 0%, #1A2165 53%, #050C4B 100%) 0% 0% no-repeat padding-box;
                padding: 35px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &__title {
                    font-size: 22px;
                    color: #fff;
                    font-weight: 600;
                    padding-bottom: 35px;
                    border-bottom: 3px solid #E6C47D;
                }

                &__content {
                    padding: 35px 0 60px 0;
                    color: #fff;
                    font-family: 'Segoe UI', sans-serif;
                    font-size: 20px;
                }

                &__button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 0;
                    cursor: pointer;
                    font-size: 28px;
                    border-radius: 10px;
                    color: #0c112c;
                    padding: 22px 80px;
                    background-image: url('/static/img/bg/Mask Group 35.png');
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }
    }
}